
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-sousuo:before { content: "\e615"; }
.icon-suo:before { content: "\e60a"; }
.icon-qq:before { content: "\e602"; }
.icon-weibo:before { content: "\e600"; }
.icon-weixin:before { content: "\e601"; }
.icon-falv:before { content: "\e605"; }
.icon-dianhua:before { content: "\e609"; }
.icon-crmtubiao68:before { content: "\e60b"; }
.icon-duanxin:before { content: "\e606"; }
.icon-shouji:before { content: "\e616"; }
.icon-fabujiekuan:before { content: "\e607"; }
.icon-tuoguan:before { content: "\e603"; }
.icon-chongzhitixian:before { content: "\e604"; }
.icon-zhaiquanzhuanrang:before { content: "\e608"; }
.icon-yonghuming:before { content: "\e619"; }
.icon-baozhangyusan:before { content: "\e60c"; }
.icon-erweima:before { content: "\e60d"; }
.icon-geren:before { content: "\e60e"; }
.icon-hongbao:before { content: "\e60f"; }
.icon-qianbi:before { content: "\e610"; }
.icon-shoucang1:before { content: "\e611"; }
.icon-shoucang2:before { content: "\e612"; }
.icon-shouji1:before { content: "\e613"; }
.icon-xinfeng1:before { content: "\e614"; }
.icon-yanzhengma-copy:before { content: "\e617"; }
