/*change on 2016.3.24 by liulv for zhuanti*/
/*兼容1280px以上屏幕*/
body{min-width: 1190px;}
.flefft {
    float: left;
}
iframe{min-height: 2000px;}
.imgWrap {
    position: relative;
    width: 100%;
    height: 1864px;
}

/*安全保障-笑雪 change by liulv*/
.s-banner4 {
    position: relative;
    top: 0;
    height: 450px;
    width: 100%;
    background: transparent url("/public/images/special/special-safeBanner.png") no-repeat scroll center center;
    overflow: hidden;
}

.imgWrap4 {
    /*background: url("/public/images/special/demo.png") no-repeat center;*/
    position: relative;
    width: 100%;
    /*height: 5467px;*/
}

.sp-nav {
    position: relative;
    width: 100%;
    background: #0E7CF7;
    height: 86px;
    margin: 0;
    padding: 0;
}

.imgWrap4-wrap {
    position: relative;
    /*width: 1190px;*/
    /*margin: 0 auto;*/
    width: 100%;
    margin: 0;
    padding: 0;
}

.sp-nav ul {
    width: 830px;
    margin: 0 auto;
    overflow: hidden;
}

.sp-nav li {
    float: left;
    width: 154px;
    height: 76px;
    text-align: center;
    margin: 10px 5px 0;

}

.sp-nav li:hover {
    background: #0B63C6;
}

.sp-nav a {
    width: 155px;
    height: 77px;
    line-height: 77px;
    font-size: 18px;
    color: #fff;
    position: relative;
    display: inline-block;
}

.sf-fkkz {
    position: relative;
    width: 100%;
    /*text-align: center;*/
}

.sf-fkkz-trph {
    background: #fff;
    width: 100%;
    height: 540px;
    margin: 0;
    padding: 0;
}

.sf-trph-tt {
    margin-top: 96px;
}

.sf-fkkz-ttico {
    background: url("../images/special/sp-safe-fkkz-ttico.png") no-repeat center;
    width: 81px;
    height: 72px;
    position: relative;
    display: inline-block;
    margin-left: 355px;
    float: left;
}

.sf-fkkz-tt-trph {
    background: url("../images/special/sp-safe-fkkz-tt-trph.png") no-repeat center;
    width: 294px;
    height: 66px;
    position: relative;
    float: left;
    margin-top: 3px;
    margin-left: 12px;

}

.sf-fkkz-bd-trph {
    position: relative;
    margin-top: 92px;
}

.sp-fkkz-trph-sp {
    position: relative;
    font-size: 14px;
    color: #999;
    float: left;

}

.sp-fkkz-trph-top1 {
    margin-left: 170px;
}

.sp-fkkz-trph-top2 {
    margin-left: 185px;
}

.sp-fkkz-trph-top3 {
    margin-left: 152px;
}

.sf-fkkz-bd-trph-mid {
    position: relative;
    width: 100%;
    height: 220px;
}

.sf-fkkz-bd-trph-mid > div {
    float: left;
}

.sf-fkkz-yuan {
    position: relative;
    width: 135px;
    height: 135px;
    -webkit-border-radius: 138px;
    -moz-border-radius: 138px;
    border-radius: 138px;
    background: #EBEBEB;
    border: 2px solid #62a0f1;
    margin-top: 49px;
    text-align: center;
}

.sf-fkkz-jiantou {
    margin-top: 7px;
    margin-left: 4px;

}
.sf-jiantou{
width: 100%;
}

.sf-fkkz-jiantou1 {
    position: relative;
    width: 85px;
    height: 9px;
    background: #609FF1;
    float: left;
}

.sf-fkkz-jiantou2 {
    border: 13px solid transparent;
    border-left: 17px solid #609FF1;
    height: 0;
    width: 0;
    float: left;
    margin-top: -9px;
}

.sf-fkkz-xian {
    margin-top: 86px;
    margin-left: 8px;
    width: 115px;
    text-align: center;
}

.sf-fkkz-xian > span {
    text-align: center;
    /*padding-left: 21px;*/
    font-size: 14px;
    color: #999;
}

.sf-fkkz-kuang {
    background: url("../images/special/sf-fkkz-kuang.png") no-repeat center;
    width: 255px;
    height: 220px;
    position: absolute;
    margin-top: 8px;

}

.sfkuang1 {
    margin-left: 77px;
}

.sfkuang2 {
    margin-left: 339px;
}

.sfkuang3 {
    margin-left: 602px;
}

.sf-fkkz-yuan i {
    display: block;
    margin: 35px auto 10px;
}

.sfyuan1 {
    margin-left: -1px;
}

.sfyuan5 {
    margin-left: -2px;
}

.sfyuan1 i {
    background: url("../images/special/sfyuan1-ico.png") no-repeat center;
    width: 30px;
    height: 21px;
}

.sfyuan2 i {
    background: url("../images/special/sfyuan2-ico.png") no-repeat center;
    width: 30px;
    height: 21px;
}

.sfyuan3 i {
    background: url("../images/special/sfyuan3-ico.png") no-repeat center;
    width: 30px;
    height: 22px;
}

.sfyuan4 i {
    background: url("../images/special/sfyuan4-ico.png") no-repeat center;
    width: 30px;
    height: 25px;
}

.sfyuan5 i {
    background: url("../images/special/sfyuan5-ico.png") no-repeat center;
    width: 30px;
    height: 24px;
}

.sfxian2 {
    margin-left: 10px;
}

.sfxian3 {
    margin-left: 10px;
    margin-top: 107px;
}

.sfxian4 {
    margin-left: 10px;
}

.sfxian4 > span {
    margin-left: -13px;
}

.sf-fkkz-bd-trph-bot {
    margin-top: 19px;
}

.sp-fkkz-trph-bt1 {
    margin-left: 185px;
}

.sp-fkkz-trph-bt2 {
    margin-left: 111px;
}

.sp-fkkz-trph-bt3 {
    margin-left: 109px;
}

.sf-fkkz-zqsh {
    background: url("../images/special/sf-zqsh-bg.jpg") no-repeat center;
    width: 100%;
    height: 680px;
    margin: 0;
    padding: 0;
}

.sf-zqsh-tt {
    margin-top: 4px;
}

.sf-zqsh-ttico {
    margin-top: 76px;
    margin-left: 325px;
}

.sf-fkkz-tt-zqsh {
    background: url("../images/special/sp-safe-fkkz-tt-zqsh.png") no-repeat center;
    width: 445px;
    height: 66px;
    position: relative;
    float: left;
    margin-top: 79px;
    margin-left: 14px;
}

.sf-fkkz-bd-zqsh > div {
    float: left;
}

.sf-bd-zqsh {
    position: relative;
    background: url("../images/special/sf-bd-zqsh.png") no-repeat center;
    width: 290px;
    height: 390px;
    margin-top: 66px;
}

.sf-bd-zqsh-line {
    position: absolute;
    background: url("../images/special/sf-bd-zqsh-line.png") no-repeat center;
    width: 1px;
    height: 181px;
    margin-left: 51px;
    margin-top: 172px;
}

.sf-bd-zqsh2 {
    margin-left: 17px;
}

.sf-bd-zqsh p {
    font-size: 20px;
    color: #fff;
    width: 82px;
    margin: 54px auto 0;
}

.sf-bd-zqsh ul {
    margin-top: 66px;
    margin-left: 40px;
}

.sf-bd-zqsh li {
    margin-bottom: 15px;
}

.sf-bd-zqsh li em {
    width: 196px;
    font-size: 16px;
    color: #666;
    line-height: 24px;
    text-align: left;
    margin-left: 9px;
    display: inline-block;
    float: left;
}

.sf-bd-zqsh li i {
    display: inline-block;
    width: 19px;
    height: 19px;
    border: 1px solid #63a1f1;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    color: #63a1f1;
    line-height: 19px;
    text-align: center;
    font-size: 12px;
    float: left;
    z-index: 1;

}

.sf-zqsh-jt {
    margin-top: 302px;
    margin-left: 28px;
}

.sf-bd-zqsh2 ul {
    margin-left: 60px;
    margin-top: 100px;
}

.sf-fkkz-swfk {
    /*background: url("../images/special/sf-zqsh-bg.jpg") no-repeat center;*/
    width: 100%;
    height: 774px;
    overflow: hidden;
}

.sf-swfk-ttico {
    margin-top: 73px;
    margin-left: 325px;
}

.sf-fkkz-tt-swfk {
    background: url("../images/special/sp-safe-fkkz-tt-swfk.png") no-repeat center;
    width: 444px;
    height: 66px;
    position: relative;
    float: left;
    margin-top: 78px;
    margin-left: 15px;
}

.sf-fkkz-bd-swfk {
    background: url("../images/special/sf-fkkz-bd-swfk.png") no-repeat center;
    width: 893px;
    height: 526px;
    margin: 162px auto 0;
}

.sf-fkkz-bd-swfk span {
    font-size: 24px;
    color: #000;
}

.sf-fkkz-bd-swfk p {
    font-size: 16px;
    color: #666;
}

.sf-swfkbd-ltop {
    float: left;
    margin-top: -84px;
}

.sf-swfkbd-ltop-tt i {
    background: url("../images/special/sp-safe.png") no-repeat -241px -46px;
    width: 58px;
    height: 71px;
    display: inline-block;
    float: left;
}

.sf-swfkbd-ltop p {
    width: 150px;
    margin-top: 19px;
    line-height: 28px;
}

.sf-swfkbd-ltop-tt span {
    float: left;
    margin-left: 25px;
    margin-top: 33px;
}

.sf-swfkbd-lbott {
    float: left;
    margin-top: 240px;
    margin-left: -178px;
}

.sf-swfkbd-lbott i {
    background: url("../images/special/sp-safe.png") no-repeat -9px -57px;
    width: 52px;
    height: 60px;
    display: inline-block;
    float: left;
}

.sf-swfkbd-lbott span {
    float: left;
    margin-top: 20px;
    margin-left: 9px;
}

.sf-swfkbd-lbott p {
    width: 150px;
    margin-top: 19px;
    line-height: 28px;
}

.sf-swfkbd-rtop {
    float: right;
    margin-top: -84px;
}

.sf-swfkbd-rtop i {
    background: url("../images/special/sp-safe.png") no-repeat -71px -47px;
    width: 79px;
    height: 70px;
    display: inline-block;
    float: left;
}

.sf-swfkbd-rtop span {
    float: left;
    margin-top: 32px;
    margin-right: 32px;
}

.sf-swfkbd-rtop p {
    width: 134px;
    margin-top: 19px;
    line-height: 28px;
    float: right;
}

.sf-swfkbd-rbott {
    float: right;
    margin-top: 230px;
    margin-right: -208px;
}

.sf-swfkbd-rbott i {
    background: url("../images/special/sp-safe.png") no-repeat -160px -48px;
    width: 71px;
    height: 70px;
    display: inline-block;
    float: left;
}

.sf-swfkbd-rbott span {
    float: left;
    margin-top: 30px;
    margin-right: 15px;
}

.sf-swfkbd-rbott p {
    width: 140px;
    margin-top: 19px;
    line-height: 28px;
    float: right;
}

.sf-jyaq {
    background: #f6f6f6;
    width: 100%;
    height: 670px;
    /*padding-top: 1px;*/
    overflow: hidden;
}

.sf-jyaq-tt {
    background: url("../images/special/sp-safe-jyaq.png") no-repeat;
    width: 295px;
    height: 67px;
    margin: 83px auto 0;
}

.sf-jyaq-bd-l {
    float: left;
    width: 272px;
    margin-left: 57px;
    margin-top: 67px;
}

.sf-jyaq-bd i {
    width: 86px;
    height: 86px;
    display: block;
    margin: 0 auto;
    -webkit-border-radius: 86px;
    -moz-border-radius: 86px;
    border-radius: 86px;
}

.sf-jyaq-bd-l i {
    background: url("../images/special/sp-safe.png") no-repeat -674px -15px;
}

.sf-jyaq-bd-ltt {
    font-size: 24px;
    color: #000000;
    width: 150px;
    margin: 25px auto 0;
    letter-spacing: 1px;
}

.sf-jyaq-bd-l p {
    width: 272px;
    margin: 19px auto 0;
    font-size: 16px;
    color: #666;
    letter-spacing: 1px;
}

.sf-jyaq-bd-line {
    background: url("../images/special/sf-jyaq-bd-line.png") no-repeat;
    width: 1px;
    height: 424px;
    float: left;
    margin-top: 82px;
    margin-left: 65px;
}

.sf-jyaq-bd-m {
    margin-left: 71px;
}

.sf-jyaq-bd-m i {
    background: url("../images/special/sp-safe.png") no-repeat -866px -15px;
}

.sf-jyaq-bd-m p {
    width: 266px;
}

.sf-jyaq-bd-line2 {
    margin-left: 63px;
}

.sf-jyaq-bd-r {
    margin-left: 72px;
}

.sf-jyaq-bd-r i {
    background: url("../images/special/sp-safe.png") no-repeat -770px -15px;
}

.sf-jyaq-bd-rtt {
    width: 200px;
}

.sf-jyaq-bd-r p {
    width: 266px;
}
.sf-zjaq{
    overflow: hidden;
}
.sf-zjaq-tt {
    background: url("../images/special/sp-safe-zjaq.png") no-repeat;
    width: 295px;
    height: 67px;
    margin: 20px auto 0;
}

.sf-zjaq-bd-l {
    float: left;
    width: 264px;
    height: 341px;
    background: #eaeaea;
    margin-top: 78px;
    margin-left: -1px;
}

.sf-zjaq-bd-ltt {
    width: 100%;
    margin: 0 auto;
    background: url("../images/special/sp-safe.png") no-repeat -308px -12px;
    height: 80px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding-top: 27px;

}

.sf-zjaq-bd-l p {
    width: 196px;
    font-size: 14px;
    color: #666;
    margin: 28px auto 0;
    line-height: 24px;
}

.sf-zjaq-bd-lm {
    margin-left: 45px;
}

.sf-zjaq-bd-rm {
    margin-left: 45px;
}

.sf-zjaq-bd-r {
    margin-left: 45px;
}

.sf-yzzc {
    background: url("../images/special/sf-yzzc-bg.png") no-repeat center;
    width: 100%;
    height: 350px;
    margin-top: 138px;
}

.sf-yzzc-wrap {
    position: relative;
    width: 1190px;
    margin: 0 auto;
    padding: 1px 0 0;
}

.sf-yzzc-tt {
    background: url("../images/special/sp-safe-zxzc.png") no-repeat center;
    width: 444px;
    height: 66px;
    margin: 60px auto 0;
}

.sf-yzzc-line-gray {
    width: 785px;
    margin: 31px auto 0;
    border-top: 1px solid #c4c7c9;
}

.sf-yzzc-line-gray span {
    width: 110px;
    margin: -3px 315px;
    background: #6ca6f2;
    height: 6px;
    position: absolute;
}

.sf-yzzc-wrap p {
    text-align: center;
    font-size: 16px;
    color: #666;
    width: 785px;
    margin: 42px auto 0;
    line-height: 28px;
}

.sf-flbh {
    position: relative;
    width: 1190px;
    margin: 0 auto;
}

.sf-flbh-tt {
    background: url("../images/special/sf-flbh-tt.png") no-repeat center;
    width: 333px;
    height: 56px;
    margin: 114px auto 0;
}

.sf-flbh-bd p {
    font-size: 16px;
    color: #666;
    line-height: 28px;

}

.sf-flbh-bd p em {
    color: #77a3e1;
}

.sf-flbh-bd .sf-flbh-bd-tt {
    width: 1040px;
    text-align: center;
    margin: 47px auto 0;
}

.sf-flbh-bd-shove {
    margin-top: 79px;
}

.sf-flbh-bd-shove i {
    background: url("../images/special/sp-safe.png") no-repeat -16px -153px;
    width: 268px;
    height: 90px;
    display: inline-block;
    float: left;
}

.sf-flbh-bd-shove p {
    float: left;
    width: 900px;
    margin-left: 16px;
    margin-top: -7px;
}

.sf-flbh-bd-txt {
    margin-top: 34px;
    padding-left: 1px;

}

.sf-flbh-bd-txt em {
    font-size: 16px;
}

.sftxt2 {
    margin: 0 0 0 1px;
}

.sftxt3 {
    margin: 28px 0 0;
}

.s-banner5 {

}

.imgWrap5 {
    background: url("/public/images/special/sp-xszc-bg-719.jpg") no-repeat center;
    position: relative;
    width: 100%;
    height: 2342px;
}

.sp-xszcbtn {
    position: relative;
    display: inline-block;
    width: 212px;
    height: 80px;
    background: url("../images/special/sp-xszc-btn.png") no-repeat center;
    margin-top: 2200px;
    margin-left: 546px;

}
.s-banner6 {
    background: url("../images/special/sp-tjjl-banner-719.jpg") no-repeat center;
    position: relative;
    top: 0;
    height: 450px;
    width: 100%;
    overflow: hidden;
}
.imgWrap6 {
    background: url("../images/special/sp-tjjl-bg.jpg") no-repeat center;
    position: relative;
    width: 100%;
    height: 1550px;
}
.sp-tjjl-bd {
    position: relative;
    width: 917px;
    margin: 56px auto 0;
}
.sp-tjjl-bd ol{
    position: relative;
    font-size: 16px;
    color: #fff;
    width: 660px;
    line-height: 30px;
}


/*我要借款 start*/
.imgWrap7 {
    position: relative;
    width: 100%;
    height: 1593px;
}

.loanClassfiy {
    position: relative;
    background: #f3f3f3;
    height: 428px;
}

.loanClassfiy-tt {
    height: 100px;
    border-bottom: 1px solid #e6e9ee;
}

.loanClassfiy-tt span {
    font-size: 20px;
    height: 100%;
    line-height: 100px;
    padding-left: 50px;
    display: inline-block;
    /*float: left;*/
    cursor: pointer;
}

.loanClassfiy-tt-xyd {
    background: url("../images/special/loanClassfiy-tt-xyd.png") no-repeat 0 center;
    color: #666666;
    margin-left: 140px;
}

.loanClassfiy-tt-xyd.hover{
    color: #f89f41;
    border-bottom: 2px solid #f89f41;
}

.loanClassfiy-tt-shd {
    background: url("../images/special/loanClassfiy-tt-shd.png") no-repeat 0 center;
    color: #666;
    margin-left: 154px;
}

.loanClassfiy-tt-shd.hover {
    color: #268cfa;
    border-bottom: 2px solid #268cfa;
}

.loanClassfiy-tt-dyd {
    background: url("../images/special/loanClassfiy-tt-dyd.png") no-repeat 0 center;
    color: #666;
    margin-left: 151px;
}

.loanClassfiy-tt-dyd.hover {
    color: #f45b55;
    border-bottom: 2px solid #f45b55;
}

.loanClassfiy-tt-qyd {
    color: #666;
    background: url("../images/special/loanClassfiy-tt-qyd.png") no-repeat 0 center;
    margin-left: 153px;
}

.loanClassfiy-tt-qyd.hover {
    color: #70b632;
    border-bottom: 2px solid #70b632;
}

.loanClassfiy-bd {
    margin-left: 140px;
}

.loanClassfiy-bd-name {
}

.loanClassfiy-bd-name-tt {
    font-size: 16px;
}

.loanClassfiy-bd-name-p {
    font-size: 14px;
}

.loanClassfiy-bd-btn {
    display: block;
    width: 150px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-top: 36px;
}

.loanClassfiy-bd-btn:hover {
    color: #fff;
}

.loanClassfiy-bd-btn-xyd {
    background: #f89f41;
}

.loanClassfiy-bd-btn-shd {
    background: #268cfa;
}

.loanClassfiy-bd-btn-dyd {
    background: #f45b55;
}

.loanClassfiy-bd-btn-qyd {
    background: #70b632;
}

.loanClassfiy-bd-xyd .loanClassfiy-bd-name-p span {
    background: url("../images/special/loanClassfiy-ico-xyd.png") no-repeat 0 center;
    padding-left: 10px;
}

.loanClassfiy-bd-shd .loanClassfiy-bd-name-p span {
    background: url("../images/special/loanClassfiy-ico-shd.png") no-repeat 0 center;
    padding-left: 10px;
}

.loanClassfiy-bd-dyd .loanClassfiy-bd-name-p span {
    background: url("../images/special/loanClassfiy-ico-dyd.png") no-repeat 0 center;
    padding-left: 10px;
}

.loanClassfiy-bd-qyd .loanClassfiy-bd-name-p span {
    background: url("../images/special/loanClassfiy-ico-qyd.png") no-repeat 0 center;
    padding-left: 10px;
}

.loanClassfiy-bd-xyd {
    display: block;
}

.loanClassfiy-bd-shd {
    display: none;
}

.loanClassfiy-bd-dyd {
    display: none;
}

.loanClassfiy-bd-qyd {
    display: none;
}

.loanAdvantage {
    position: relative;
    background: #f3f3f3;
    height: 290px;
}

.loanAdvantage-tt {
    position: relative;
}

.loanAdvantage-tt-t {
    font-size: 26px;
    text-align: center;
    z-index: 1;
}

.loanAdvantage-tt-line1 {
    height: 1px;
    background-color: #e6e9ee;
    position: absolute;
    top: 50%;
    left: 0;
    width: 1130px;
    margin: 44px auto;
}

.loanAdvantage-tt-line2 {
    position: absolute;
    left: 50%;
    font-size: 26px;
    margin-left: -60px;
    margin-top: 22px;
    width: 120px;
    background: #f3f3f3;
    text-align: center;
}

.loanAdvantage-bd {

}

.loanAdvantage-bd > div {
    float: left;
    width: 170px;
    margin-top: 108px;
}

.loanAdvantage-bd-ico {
    width: 107px;
    margin: 0 auto;
    text-align: center;
}

.loanAdvantage-bd-ico p {
    padding-top: 96px;
    color: #268CFA;
    font-size: 16px;
}

.loanAdvantage-bd-d1-p {
    font-size: 14px;
    text-align: center;
}

.loanAdvantage-bd-d1-ico {
    background: url("../images/special/loanAdvantage-bd-d1.png") no-repeat 0 0;
}

.loanAdvantage-bd-d2-ico {
    background: url("../images/special/loanAdvantage-bd-d2.png") no-repeat 0 0;

}

.loanAdvantage-bd-d3-ico {
    background: url("../images/special/loanAdvantage-bd-d3.png") no-repeat 0 0;

}

.loanAdvantage-bd-d4-ico {
    background: url("../images/special/loanAdvantage-bd-d4.png") no-repeat 0 0;

}

.loanAdvantage-bd-d1 {
    margin-left: 84px;
}

.loanAdvantage-bd-d2 {
    margin-left: 114px;
}

.loanAdvantage-bd-d3 {
    margin-left: 114px;
}

.loanAdvantage-bd-d4 {
    margin-left: 114px;
}

.loanStep {
    position: relative;
    background: url("../images/special/sp-loanStep.png") no-repeat center;
    width: 100%;
    height: 149px;
    margin-top: 38px;
}

.loanExplain {
    position: relative;
    height: 308px;
    background: #f3f3f3;
}

.loanExplain-bd {
    padding-top: 80px;
}

.loanExplain-bd-l {
    margin-left: 30px;
    margin-top: 5px;
}

.loanExplain-bd-l-tt {
    font-size: 16px;
    color: #333;
}
.loanExplain-bd-l-ul {
    font-size: 14px;
}
.loanExplain-bd-l-ul2 li{
    width: 297px;
}
.loanExplain-bd-l-ul li{
    margin-top: 4px;
}
.loanExplain-bd-rp{
    font-size: 14px;
    color: #8fb8f2;
    margin-top: 5px;
}
.loanExplain-bd-rp2{
    margin-top: 13px;
}
.loanExplain-bd-r {
    margin-left: 270px;
    margin-top: 5px;
}

/*我要借款 end*/
/*新手指引 start*/
.p-special8{
    width: 900px;
    margin: 0 auto;
}
.s-banner8{
    position: relative;
    top: 0;
    background: transparent url("/public/images/special/s-banner8-bg.png") no-repeat scroll center center;
    overflow: hidden;
    width: 100%;
    height: 130px;
}
.s-banner8 h1{
    text-align: center;
    font-size: 45px;
    color: #fff;
    line-height: 130px;
    margin-left: 40px;
}
.imgWrap8 {
    position: relative;
    width: 100%;
    height: 772px;
}
.sp-xszy-bd-tt1 {
    background: url("../images/special/sp-xszy-bd-tt1-hover.png") no-repeat center;
    width: 150px;
    height: 48px;
    line-height: 48px;
    cursor: pointer;
}
.sp-xszy-bd-tt1.active{
    background: url("../images/special/sp-xszy-bd-tt1.png") no-repeat center;
}
.sp-xszy-bd-tt {
    background: url("../images/special/sp-xszy-bd-tt-hover.png") no-repeat center;
    width: 150px;
    height: 48px;
    line-height: 48px;
    margin-left: -4px;
    cursor: pointer;
}
.sp-xszy-bd-tt.active{
    background: url("../images/special/sp-xszy-bd-tt.png") no-repeat center;
}
.sp-xszy-bd-tt-m {
    background: url("../images/special/sp-xszy-bd-tt-m-hover.png") no-repeat center;
    width: 180px;
    height: 48px;
    line-height: 48px;
    margin-left: -4px;
    cursor: pointer;
}
.sp-xszy-bd-tt-m.active{
    background: url("../images/special/sp-xszy-bd-tt-max.png") no-repeat center;
}
.sp-xszy-bd-tt-last {
    background: url("../images/special/sp-xszy-bd-tt-last-hover.png") no-repeat center;
    width: 140px;
    height: 48px;
    line-height: 48px;
    margin-left: -4px;
    cursor: pointer;
}
.sp-xszy-bd-tt-last.active{
    background: url("../images/special/sp-xszy-bd-tt-last.png   ") no-repeat center;
}
.sp-xszy-bd-tt1,.sp-xszy-bd-tt,.sp-xszy-bd-tt-m,.sp-xszy-bd-tt-last {
    color: #fff;
    font-size: 16px;
    text-align: center;
}
.sp-xszy-bd-bd {
    width: 900px;
    height: 440px;
    border: 1px solid #b9d5f5;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    box-shadow: 0  0 0 0 #f3f3f3;
}
.p-protjlist li {
    display: none;
    text-align: center;
}
.p-protjlist li img{
    margin-top: 15px;
}
/*新手指引 end*/
/*分公司介绍start*/
.ml165{
    margin-left: 165px;
}
.s-banner9 {
    position: relative;
    top: 0;
    background: transparent url("/public/images/special/s-filialebanner.png") no-repeat scroll center center;
    overflow: hidden;
    height: 450px;
    width: 100%;
}

.imgWrap9 {
    position: relative;
    width: 100%;
    height: 2000px;
}
.s-fil-head h1{
    text-align: center;
    font-size: 46px;
    color: #333333;
    font-weight: 400;
  letter-spacing: 4px;
}
.s-fil-head {
    position: relative;
    border-bottom: 1px #d1d1d1 solid;
    width: 100%;
    margin-top: 100px;
   padding-bottom: 25px;
}
.s-fil-head .s-fil-line {
    background-color: #ed4d4d;
    width: 100px;
    height: 2px;
    border-top: 2px #ed4d4d solid;
    position: absolute;
    left: 50%;
    bottom: -2px;
    margin-left: -50px;
}
.s-fil-bd {
    position: relative;
    padding-top: 55px;
}
.s-fil-bd-fil {
    position: relative;
    width: 100%;
}
.s-fil-bd-fil-child {
    position: relative;
    width: 50%;
}
.s-fil-bd-fil p{
    font-size: 22px;
    color: #333333;
    line-height: 45px;
}
.s-fil-bd-fil-child-tt {
    color: #fff;
    font-size: 24px;
    background: url("../images/special/s-fil-bd-fil-child-tt-bg.png") no-repeat center;
    width: 168px;
    height: 56px;
    text-indent: 8px;
    line-height: 50px;
    margin-top: 40px;
    margin-bottom: 55px;
}
.s-fil-bd-fil-child-img1 {
    background: url("../images/special/s-fil-wanda.png") no-repeat center;
    width: 595px;
    height: 350px;
    position: relative;
}
.s-fil-bd-fil-child-img2 {
    background: url("../images/special/s-fil-huaian.png") no-repeat center;
    width: 595px;
    height: 350px;
    position: relative;
}
.s-fil-bd-fil-child-img3 {
    background: url("../images/special/s-fil-chuzhou.png") no-repeat center;
    width: 595px;
    height: 350px;
    position: relative;
}
.s-fil-bd-fil-child-img4 {
    background: url("../images/special/s-fil-lishui.png") no-repeat center;
    width: 595px;
    height: 350px;
    position: relative;
}
.s-fil-bd-fil-child-img5 {
    background: url("../images/special/s-fil-taizhou.png") no-repeat center;
    width: 595px;
    height: 350px;
    position: relative;
}
/*分公司介绍end*/
/*活动719start*/
.shiming-719 {
    margin-top: 85px;
    margin-bottom: 125px;
}
/*活动719 end*/
/*推荐奖励719start*/
.s-tjjlwrap{
    padding-top: 350px;
}
.sp-tjjl-hd {
    position: relative;
    width: 917px;
    margin: 0 auto;
}
.sp-tjjl-hd h1 {
    color: #fff;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    margin-top: 20px;

}
.ml28{
    margin-left: 28px;
}
.sp-tjjl-hd-shove {
    position: relative;
    width: 285px;
    height: 342px;
}
.sp-tjjl-hd-shove h3{
    text-align: center;
    font-size: 36px;
    margin-top: 36px;
}
.sp-tjjl-hd-shove .sp-tjjl-hd-h1{
    color:#1eb268 ;
}
.sp-tjjl-hd-shove .sp-tjjl-hd-h2{
    color:#fff ;
}
.sp-tjjl-hd-shove .sp-tjjl-hd-h3{
     color:#1eb268 ;
 }
.sp-tjjl-hd-shove .sp-tjjl-hd-tt{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-top: 56px;
}
.sp-tjjl-hd-shove .sp-tjjl-hd-tt1{
    color: #1eb268;
}
.sp-tjjl-hd-shove .sp-tjjl-hd-tt2{
    color: #fff;
}
.sp-tjjl-hd-shove .sp-tjjl-hd-tt3{
    color: #1eb268;
}
.sp-tjjl-hd-shove p{
    width: 225px;
    font-size: 16px;
    margin: 24px auto 0;
}
.sp-tjjl-hd-shove .sp-tjjl-hd-p{
    color: #1eb268;
}
.sp-tjjl-hd-shove .sp-tjjl-hd-p2{
    color: #fff;
}
.s-tjjl-btn {
    background: url("../images/special/s-tjjl-btn.jpg") no-repeat center;
    width: 206px;
    height: 49px;
    line-height: 49px;
    display: block;
    text-align: center;
    font-size: 24px;
    color: #fff;
    margin: 30px auto 0;
    position: relative;
    text-indent: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.s-tjjl-btn:hover{
    color: #fff;
}
.s-tjjl-ex {
    position: relative;
    margin: 50px auto 0;
    color: #fff;
    font-size: 14px;
}
.s-tjjl-ex i{
    color: #fff600;
}
.s-tjjl-ex .s-tjjl-ex-p2 {
    text-indent: 3em;
}
.sp-tjjl-bdtime {
    font-size: 22px;
    color: #fff;
    margin-left: 49px;
    margin-top: 34px;
    text-align: center;
}
.sp-tjjl-bdshove {
    margin-left: 45px;
}
.sp-tjjl-bdshove  h1 {
    color: #fff600;
    font-size: 38px;
    font-weight: normal;
    text-align: center;
}
/*推荐奖励719end*/
/*操作指南开始*/
.s-banner11 {
    position: relative;
    top: 0;
    background: transparent url("../images/special/s-oper-banner.png") no-repeat scroll center center;
    overflow: hidden;
   height: 227px;
    width: 100%;
}
.s-operaWrap {
    position: relative;
    width: 100%;
    padding-top: 1px;
    background: #f3f3f3;
}
.s-oper-header .active,.s-oper-header a:hover{
    background: #fff;
    color: #63a1f1;
}
.s-operaWrap i{
    display: block;
}
.s-oper-header{
    margin-top: 167px ;
}
.s-oper-header a{
    display: block;
    width: 298px;
    height: 60px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 60px;
    color: #fff;
}
.s-oper-bd {
    background: #fff;
}
.s-oper-bd-txt{
    display: block;
    width: 95%;
}
.s-oper-bd-tt {
    background: #a1c7f7;
    height: 50px;
    font-weight: 700;
    line-height: 50px;
    color: #ffffff;
}
.s-oper-bd-problem {
    color: #63a1f1;
}
.s-oper-bd-intro {
    color: #666;
    text-indent: 2em;
}
.s-operaNav-newUser-bd {
    width: 100%;
    text-align: center;
}
.s-operaNav-oldUser-bd {
    width: 100%;
    text-align: center;
}
.s-operaNav-newUser-bd img{
    width: 1040px;
}
/*操作指南结束*/
/*注册豪礼 new*/
.s-loginAward-wrap {
    position: relative;
    width: 100%;
    padding-top: 1px;
    background: #f43556 url("../images/special/loginAward/s-loginAward-bg.png") no-repeat center;
    height: 2000px;
}
.s-lga-hd {
    width: 100%;
    height: 532px;
}
.s-lga-hd-startTime {
    left: 50%;
    margin-left: 193px;
    width: 84px;
    height: 84px;
    margin-top: 36px;
    color: #fff;
    position: relative;
    background: url("../images/special/loginAward/s-loginAward-ico.png") no-repeat 0 0;
    padding-top: 16px;
}
.s-lga-hd-startTime span {
    display: block;
    text-align: center;
}
.s-lga-hd-startTime-span1 {
    color: #fffd25;
    font-weight:700;
}
.s-lga-hd-bd {
    width: 100%;
    font-weight: 700;
    margin-top: 176px;
}

.s-lga-hd-bd span {
    display: block;
}
.s-lga-hd-bd-tt-l{
    width: 258px;
    text-align: center;
}
.s-lga-hd-bd-tt-1 {
    color: #ff6a53;
}
.s-lga-hd-bd-tt-2 {
    color: #ee2a2d;
}
.s-lga-hd-bd-num {
    font-size: 78px;
    color: #fff;
    font-family: Impact;
}
.s-lga-hd-bd-rico{
    transform:rotate(41.33deg);
    -ms-transform:rotate(41.33deg); /* Internet Explorer */
    -moz-transform:rotate(41.33deg); /* Firefox */
    -webkit-transform:rotate(41.33deg); /* Safari 和 Chrome */
    -o-transform:rotate(41.33deg); /* Opera */
    font-size: 40px;
    color: #fff;
    background: url("../images/special/loginAward/s-loginAward-ico.png") no-repeat 0 -118px;
    width: 74px;
    height: 95px;
    margin-top: 26px;
    padding-top: 35px;
    letter-spacing: -2px;
}
.s-lga-bd {
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
}
.s-lga-bd-tt {
    font-size: 66px;
    color: #ea4b43;
    text-align: center;
    font-weight: 700;
}
.s-lga-bd-one {
    width: 100%;
    border: 1px solid #f899a9;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    height: 294px;
}
.s-lga-bd-l{
    width: 168px;
    height: 168px;
    margin-left: 106px;
    margin-top: 73px;
}
.s-lga-bd-l-ico1 {
    display: block;
    width: 104px;
    height: 104px;
    background: url("../images/special/loginAward/s-loginAward-ico.png") no-repeat -130px 0;
}
.s-lga-bd-l-ico2 {
    display: block;
    width: 104px;
    height: 104px;
    background: url("../images/special/loginAward/s-loginAward-ico.png") no-repeat -130px -118px;
}
.s-lga-bd-one span{
    display: block;
    color: #f43556;
    text-align: center;
}
.s-lga-bd-r{
    margin-left: 214px;
}
.s-lga-bd-r-tt{
    color: #fff;
    font-weight: 700;
    background: #f43556;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    width: 170px;
    height: 44px;
    line-height: 44px;
    letter-spacing: 2px;
}
.s-lga-bd-r-show{
    color: #666;
    width: 480px;
    letter-spacing: 2px;
}
.s-lga-foot {
    margin-top: 240px;
    color: #fff;
}
.s-lga-foot-tt {
    text-align: center;
}
.s-lga-foot ul{
line-height: 32px;
}
/*拓米中秋活动*/
.s-moon-wrap {
    position: relative;
    width: 100%;
    padding-top: 1px;
    background: #081625;
}
.s-moon-banner{
    position: relative;
    top: 0;
    height: 450px;
    width: 100%;
    background: #081625 url("../images/special/moon/s-moon-banner.png") no-repeat center;
}
.s-moon-bd {
    position: relative;
    background: #081625 url("../images/special/moon/s-moon-bd-bg.png") no-repeat center 0;
    width: 100%;
    height: 2300px;
    padding-top: 1px;

}
.s-moon-bd-act-ico{
    background: url("../images/special/moon/ss-moon-bd-act-ico.png") no-repeat center;
    width: 354px;
    height: 182px;
    z-index: 1;
    position: absolute;
}
.s-moon-bd-act-ico span{
    display: block;
    width: 116px;
    height: 52px;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    margin-top: 35px;
    margin-left: 40px;
    transform:rotate(-26deg);
    -ms-transform:rotate(-26deg); /* Internet Explorer */
    -moz-transform:rotate(-26deg); /* Firefox */
    -webkit-transform:rotate(-26deg); /* Safari 和 Chrome */
    -o-transform:rotate(-26deg); /* Opera */
}
.s-moon-bd-act {
    width: 1170px;
    background: #fff0d3;
    padding-top: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;;
}
.s-moon-bd-act1{
    height: 724px;
}
.s-moon-bd-act3 {
    height: 510px;
}
.s-moon-bd-act-tt{
    margin-left: 368px;
    width: 692px;
    height: 46px;
}
.s-moon-bd-act-tt1{
    background: url("../images/special/moon/s-moon-bd-act-tt.png") no-repeat 0 0;
}
.s-moon-bd-act-tt2{
    background: url("../images/special/moon/s-moon-bd-act-tt.png") no-repeat 0 -70px;
}
.s-moon-bd-act-tips {
    background: url("../images/special/moon/s-moon-bd-act-tips.png") no-repeat center;
    width: 957px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    color: #d93131;

}
.s-moon-bd-saoma{
    width: 400px;
}
.s-moon-bd-saoma-tt {
    background: url("../images/special/moon/s-moon-bd-saoma-tt.png") no-repeat center;
    width: 249px;
    height: 282px;
}
.s-moon-bd-saoma-bd {
    text-align: center;
    color: #666666;
}
.s-moon-bd-jd {
    width: 414px;
}
.s-moon-bd-jd-tt{
    background: url("../images/special/moon/jd-logo.png") no-repeat center;
    width: 413px;
    height: 270px;
}
.s-moon-bd-money-bg{
    background: url("../images/special/moon/s-moon-money.png") no-repeat center;
    width: 277px;
    height: 360px;
    padding-top: 1px;

}
.s-moon-bd-money-bg span{
    display: block;
    color: #faff05;
    font-size: 38px;
    text-align: center;
    margin-top: 277px;
    margin-left: 81px;
    width: 98px;
}
.s-moon-bd-tzfz-tt{
    font-size: 36px;
    font-weight: 700;
    color: #f78640;
}
.s-moon-bd-tzfz {
    background: url("../images/special/moon/s-moon-bd-tzfz-bg.png") no-repeat 30px 190px;
    /*width: 652px;*/
    height: 442px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;

}
.s-moon-bd-tzfz-bd{
    background: url("../images/special/moon/s-moon-bd-tzfz-tips.png") no-repeat center;
    width: 408px;
    height: 163px;
}
.s-moon-bd-tzfz-bd-s1 {
    width: 1em;
    color: #e95b2d;
    line-height: 35px;
    margin-left: 24px;
    margin-top: 8px;
}
.s-moon-bd-tzfz-bd-s2{
    font-size: 76px;
    font-weight: 700;
    color: #ffffff;

}
.s-moon-bd-show{

}
.s-moon-bd-show-tt{
    color: #f79b2e;
    font-size: 38px;
    font-weight: 700;
}
.s-moon-bd-show-list li{
    margin-top: 27px;
    width: 100%;
}
.s-moon-bd-show-list i{
    display: block;
    background: #f79b2e;
    width: 26px;
    height: 26px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 26px;
}
.s-moon-bd-show span {
    display: block;
    width: 1028px;
    font-size: 18px;
    color: #666;
    line-height: 26px;
    height: 26px;
}
.s-moon-bd-show-exp{

}
.s-moon-bd-show-exp i{
    display: block;
    background: #ec693b;
    width: 32px;
    height: 32px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 32px;
}
